.formulario-error {
    font-weight: 600;
    color: rgb(224, 21, 21);
    margin: 0;
}

.container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-error {
    margin-bottom: 3px;
}

.form-submit {
    margin-top: 10px;
}